In [1]:
import pandas as pd
import statsmodels.formula.api as smf
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("Admission_Predict.csv")
df

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,400,333,117,4,5.0,4.0,9.66,1,0.95

In [3]:
df.drop("Serial No.", axis=1, inplace=True)

In [4]:
df.rename(columns={'Chance of Admit ':'ChanceofAdmit', 'GRE Score':'GREScore', 'TOEFL Score':'TOEFLScore',\
                  'University Rating':'UniversityRating', 'LOR ':'LOR'}, inplace=True)

In [17]:
GRE_mean = df.GREScore.mean()
df['GRE_centered'] = df.GREScore - GRE_mean

TOEFL_mean = df.TOEFLScore.mean()
df['TOEFL_centered'] = df.TOEFLScore - TOEFL_mean

UniversityRating_mean = df.UniversityRating.mean()
df['UniversityRating_centered'] = df.UniversityRating - UniversityRating_mean

SOP_mean = df.SOP.mean()
df['SOP_centered'] = df.SOP - SOP_mean

LOR_mean = df.LOR.mean()
df['LOR_centered'] = df.LOR - LOR_mean

In [33]:
multiLinearModel = smf.ols(formula='ChanceofAdmit ~ GRE_centered + TOEFL_centered + UniversityRating_centered + LOR_centered \
                           + Research + CGPA', data=df)
multiLinearModResult = multiLinearModel.fit()
print(multiLinearModResult.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:          ChanceofAdmit   R-squared:                       0.803
Model:                            OLS   Adj. R-squared:                  0.800
Method:                 Least Squares   F-statistic:                     267.5
Date:                Mon, 29 Mar 2021   Prob (F-statistic):          2.18e-135
Time:                        15:59:08   Log-Likelihood:                 537.19
No. Observations:                 400   AIC:                            -1060.
Df Residuals:                     393   BIC:                            -1032.
Df Model:                           6
Covariance Type:            nonrobust
=============================================================================================
                                coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------
Intercept                    -0.3027      0.104     -2.914      0.004      -0.507      -0.098
GRE_centered                  0.0018      0.001      2.962      0.003       0.001       0.003
TOEFL_centered                0.0028      0.001      2.628      0.009       0.001       0.005
UniversityRating_centered     0.0049      0.005      1.069      0.286      -0.004       0.014
LOR_centered                  0.0210      0.005      4.147      0.000       0.011       0.031
Research                      0.0242      0.008      3.046      0.002       0.009       0.040
CGPA                          0.1179      0.012      9.756      0.000       0.094       0.142
==============================================================================
Omnibus:                       89.012   Durbin-Watson:                   0.748
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              184.552
Skew:                          -1.171   Prob(JB):                     8.41e-41
Kurtosis:                       5.364   Cond. No.                         416.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.